<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function() {

			$("#buscar_proveedor").autocomplete({

				source : function(request, response) {
					$.ajax({
						url : "/factura/cargar-proveedor/" + request.term,
						dataType : "json",
						data : {
							term : request.term
						},
						success : function(data) {
							response($.map(data, function(item) {
								return {
									value : proveedor.id,
									label : proveedor.ruc,
									
								};
							}));
						},
					});
				},
			});
		});
		
		var itemsHelper = {
			calcularImporte: function(id, subtotal){
				$("#total_importe_" + id).html(parseInt(precio) * parseInt(cantidad));
				this.calcularGranTotal();
			},
			hasProducto: function(id){
				
				var resultado = false;
				
				$('input[name="item_id[]"]').each(function(){
					if(parseInt(id) == parseInt($(this).val()) ){
						resultado = true;
					}
				});
				
				return resultado;
			},
			incrementaCantidad: function(id, precio){
				var cantidad = $("#cantidad_" + id).val() ? parseInt($("#cantidad_" + id).val()) : 0;
				$("#cantidad_" + id).val(++cantidad);
				this.calcularImporte(id, precio, cantidad);
			},
			eliminarLineaFactura: function(id){
				$("#row_" + id).remove();
				this.calcularGranTotal();
			},
			calcularGranTotal: function(){
				var total = 0;
				
				$('span[id^="total_importe_"]').each(function(){
					total += parseInt($(this).html());
				});
				
				$('#gran_total').html(total);
			}
		}
	</script>
</body>
</html>